
<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="WebApplication18.SiteMaster" %>

<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%: Page.Title %> - My ASP.NET Application</title>

    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>

    <webopt:bundlereference runat="server" path="~/Content/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

</head>
<body>
    <form runat="server">
        <asp:ScriptManager runat="server">
            <Scripts>
                <%--To learn more about bundling scripts in ScriptManager see https://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Framework Scripts--%>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptReference Name="jquery" />
                <asp:ScriptReference Name="bootstrap" />
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />
                <%--Site Scripts--%>
                
         
            </Scripts>
           
        </asp:ScriptManager>
      

      
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" runat="server" href="~/"><i class="fa fa-fw fa-home"></i> Oshim Store</a>
                </div>
                <div class ="navi">
                    <ul class="nav navbar-nav">
                        <li><a runat="server" href="/About"><span class="glyphicon glyphicon-info-sign"></span> About</a></li>
                        <li><a runat="server" href="/Contact"><i class="fa fa-fw fa-envelope"></i> Contact</a></li>
                        <li><a runat="server" id="AllProducts" name="AllProducts" href="/AllProducts" visible="true"><span class="glyphicon glyphicon-barcode"></span> Catalog</a></li>
                        <li><a runat="server" id="Admin" name="Admin" href="/AdminPan" visible="false">Admin Options</a></li>
                     </ul>
                    
                     <ul class="nav navbar-nav navbar-right">
                        <li><a runat="server" id="Basket" name="Basket" href="/Basket" visible="true"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
                        <li><a runat="server" id="login" name="login" href="/login" visible="true" ><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        <li><a runat="server" id="register" name="register" href="register" visible="true" style="text-align:right"><span class="glyphicon glyphicon-registration-mark"></span> Register</a></li>
                        <li class="nav-item dropdown">
                            <a runat="server" href="#" class="nav-link dropdown-toggle" id="myAccount" name="myAccount" data-toggle="dropdown" visible="false">
                                <i class="fa fa-fw fa-user"></i> My Account <i class="fa fa-fw fa-sort-down"></i>
                            </a>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="#" id="editStore">Store Managment</a>
                          </div>
                        </li>
                         <li><a runat="server" id="logout" name="logout" href="/logout" visible="false"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
            <hr />
            <footer>
                <p>&copy; <%: DateTime.Now.Year %> - My ASP.NET Application</p>
            </footer>
        </div>
 
        <script type="text/javascript">
              $(document).ready(function () {
             $("#AddStore").click(function () {
               event.preventDefault();
               var getUrl = window.location;
               var baseUrl = getUrl.protocol + "//" + getUrl.host
               window.location.href = baseUrl+"/AddStore";
            });
            $("#editStore").click(function () {
                event.preventDefault();
                var getUrl = window.location;
               var baseUrl = getUrl.protocol + "//" + getUrl.host
               window.location.href = baseUrl+"/EditStore";
              
            });

                  //<script type="text/javascript">

                  var ws = new WebSocket("wss://" + window.location.host + "/api/WebSocket/");

                  ws.onopen = function () {
                      //alert("connected");
                  };
                  ws.onmessage = function (evt) {
                      alert(evt.data);
                  };
                  ws.onerror = function (evt) {
                  };
                  ws.onclose = function () {
                      //alert("disconnected");
                  };

                  //$("#btnLogin").click(function () {
                  //if (ws.readyState == WebSocket.OPEN) {
                  //    ws.send($("name5").val());
                  //}
                  //else {
                  //    $("#spanStatus").text("Connection is closed");
                  //}
                  //});

                  /*jQuery.ajax({
                      type: "GET",
                      url: baseUrl+"/api/user/waitingMessages",
                      contentType: "application/json; charset=utf-8",
                      dataType: "json",
                      success: function (response) {},
                      error: function (response) {}
                      });*/


                  $("#logout").click(function () {
                      event.preventDefault();
                      var getUrl = window.location;
                      var baseUrl = getUrl.protocol + "//" + getUrl.host
                      console.log(baseUrl);

                      jQuery.ajax({
                          type: "GET",
                          url: baseUrl + "/api/user/logout",
                          contentType: "application/json; charset=utf-8",
                          dataType: "json",
                          success: function (response) {

                              if (response == "ok") {

                                  window.location.href = baseUrl + "/";
                              }
                              else {
                                  console.log(response);
                              }
                          },
                          error: function (response) {
                              console.log(response);
                          }
                      });
                  });
              });
              
              </script>
    </form>
</body>
</html>